<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>VueJS Exercise</title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- https://vuejs.org/v2/guide/#Getting-Started -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
</head>

<body>

    <!-- https://vuejs.org/v2/guide/index.html -->
    <div id="app">
        <!--
             TODO Show collection data. See js/script.js
             - Show collection Title
             - For each item (https://vuejs.org/v2/guide/index.html#Conditionals-and-Loops)
               - Display a link for the item "href" property
               - Display the item data. For each data element:
                 - Display its "prompt" property in bold style
                 - Display its "value" property in italic style
        -->

        
        <div class="container">
            <h1> {{d.collection.title}}</h1>
            <div class="row">
                <div v-for="todo in d.collection.items" class="card col-md-4 ">
                    <div class="card-body">
                        <img class="card-img-top" v-for="peli in todo.data" v-if=" peli.name=='image'  " v-bind:src="peli.value" alt="Card image cap">

                        <h5 class="card-title btn-outline-info" style="padding:0.75em; border:1px solid #17a2b8; border-radius:4px" v-for="peli in todo.data" v-if=" peli.name=='name' ">{{peli.value}}</h5>
                        <ul>
                            <li v-for="peli in todo.data" v-if=" peli.name!='name' &&  peli.name!='image'">

                                <b>{{peli.prompt}}:&nbsp;</b>
                                <i>{{peli.value}}</i>
                            </li>
                        </ul>
                        <a class="card-link" v-bind:href="todo.href">Ver en wikipedia</a>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <script src="js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</body>

</html>
